#abt {
  text-align: center;
  padding: 40px;
  background: rgb(237, 227, 253);
}

.abt h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.abt h4,
h5 {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
  line-height: 2;
}

.abt h4 {
  margin-bottom: 20px;
}

.abt1 h4 {
  text-align: justify;
}

.abt h5 {
  font-size: 22px;
  color: #474646;
}

.abt1 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.abt img {
  max-width: 100%;
  height: 300px;
}

.abt1 > div {
  flex: 1;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.abt1 > div:hover {
  transform: scale(1.1);
  border-radius: 10px;
  border: 1px solid rgb(212, 188, 251);
  box-shadow: 0 10px 20px 2px rgba(60, 58, 58, 0.5);
  background: linear-gradient(
    to bottom,
    rgb(227, 209, 255),
    rgb(244, 239, 253)
  );
  transition: all 0.3s ease-in-out;
}
